<div class="container" >
<div class="calculator">

 <div class="display">
  <div *ngIf="isError; else elseBlock">
  <span class="left">E</span>
  <span class="right">{{ displayText }}</span> 
  </div>
  <ng-template #elseBlock>
    <div *ngIf="isMinor; else elseBrick">
     <span class="left">-</span>
     <span class="right">{{ result }}</span>
    </div>
  </ng-template>
    <ng-template #elseBrick>
      <span class="right">{{ result }}</span>
    </ng-template>
 </div>

<!--displayText文字列だから、pタグでもOKかと。-->

   <div class="row">
    <button class="btn operator" (click)="onClickOperator('%')">%</button>
    <button class="btn number" (click)="onClickNumber('7')">7</button>
    <button class="btn number" (click)="onClickNumber('8')">8</button>
    <button class="btn number" (click)="onClickNumber('9')">9</button>
    <button class="btn operator" (click)="onClickOperator('/')">÷</button>
   </div>
   <div class="row">
    <button class="btn operator" (click)="onClickOperator('√')">√</button>
    <button class="btn number" (click)="onClickNumber('4')">4</button>
    <button class="btn number" (click)="onClickNumber('5')">5</button>
    <button class="btn number" (click)="onClickNumber('6')">6</button>
    <button class="btn operator" (click)="onClickOperator('*')">x</button>
  </div>
  <div class="row">
    <button class="btn clear" (click)="onClickCe()">CE</button>
    <button class="btn number" (click)="onClickNumber('1')">1</button>
    <button class="btn number" (click)="onClickNumber('2')">2</button>
    <button class="btn number" (click)="onClickNumber('3')">3</button>
    <button class="btn operator" (click)="onClickOperator('-')">-</button>
  </div>
  <div class="row">
    <button class="btn clear" (click)="onClickC()">C</button>
    <button class="btn number" (click)="onClickNumber('0')">0</button>
    <button class="btn number" (click)="onClickNumber('.')">.</button>
    <button class="btn number error" (click)="onClickFunction('-')">+/-</button> 
    <button class="btn operator" (click)="onClickOperator('+')">+</button>  
  </div>
  <div class="row">
    <button class="btn equals" (click)="onClickEquals()">=</button>
  </div>


</div>
</div>
  